/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot");
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: #757575;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.6154;
  letter-spacing: 0.06em;
  text-align: center;
  width: 696px;
  padding-top: 200px;
  padding-bottom: 30px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (min-width: 0px) and (max-width: 479px) {
  .title {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.6154;
    letter-spacing: 0.06em;
    width: auto;
    padding-top: 20px;
    margin: 0px;
  }
}

@media screen and (min-width: 480px) {
  .title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6154;
    letter-spacing: 0.06em;
    width: 360px;
    padding-top: 118px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6154;
    letter-spacing: 0.06em;
    width: 360px;
    padding-top: 118px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636;
    letter-spacing: 0.06em;
    width: 696px;
    padding-top: 200px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
}

.little-name,
.label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1721;
  letter-spacing: 0.03em;
  font-style: normal;
}

.little-name {
  text-transform: uppercase;
  color: #212121;
  margin: 0px;
}

.label {
  text-transform: uppercase;
  color: #ffffff;
}

.sub-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1719;
  letter-spacing: 0.03em;
  color: #212121;
}

.styles-name {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.invisible {
  display: none;
}

.name-prof {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.address,
.desc-name {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.cl-link {
  color: #ffffff99;
}

.project-name {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.app-name {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.des-svg,
.bg-svg,
.little-name {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .description-job {
    height: 507px;
    width: 738px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .description-job {
    height: 251px;
    width: 1170px;
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .description-unit {
    height: 226px;
    width: 450px;
    margin-bottom: 30px;
  }
  .description-unit:nth-child(4) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .description-unit {
    height: 251px;
    width: 354px;
    margin-bottom: 0px;
    display: inline-block;
  }
  .description-unit:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  .description-unit:nth-child(2n) {
    margin-left: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .description-unit {
    height: 251px;
    width: 270px;
    display: inline-block;
    margin-right: 30px;
  }
  .description-unit:nth-child(n + 4) {
    margin-right: 0px;
  }
}

.desc-name {
  display: block;
  padding-top: 10px;
  margin: 0;
}

@media screen and (min-width: 480px) {
  .desc-name {
    height: 50px;
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .desc-name {
    height: 75px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .desc-name {
    height: 75px;
    width: 270px;
  }
}

.sub-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .sub-title {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .sub-title {
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

.person-photo {
  background-color: #ffffff;
}

@media screen and (min-width: 480px) {
  .person-photo {
    height: 622px;
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .person-photo {
    height: 536px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .person-photo {
    height: 428px;
    width: 270px;
  }
}

.table-color {
  color: #ffffff;
}

.project-name {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.app-name {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.bt-main,
.bt-email,
.bt-modal {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  border: none;
}

.bt-works {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
}

.bt-works:hover, .bt-works:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.bt-email {
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.bt-email:hover, .bt-email:focus {
  color: #2196f3;
  background-color: #ffffff;
  cursor: pointer;
}

.bt-email:hover .send {
  fill: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bt-email {
    position: absolute;
    bottom: 60px;
    left: 291px;
  }
}

@media screen and (min-width: 1200px) {
  .bt-email {
    margin-top: 20px;
    margin-left: auto;
  }
}

.bt-main:hover {
  color: #2196f3;
  background-color: #ffffff;
  cursor: pointer;
  animation-name: animate125;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.list-button + .list-button {
  margin-left: 8px;
}

.bt-modal {
  margin: 30px 164px 40px;
  color: #ffffff;
  background-color: #2196f3;
}

.bt-modal:hover {
  cursor: pointer;
}

.bt-modal:checked:focus {
  background-color: #ffffff;
  color: #2196f3;
}

.bt-close {
  position: absolute;
  display: block;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.bt-close:hover, .bt-close:focus {
  cursor: pointer;
}

.close {
  height: 18px;
  width: 18px;
  margin: auto;
  border-radius: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #ffffff;
}

@keyframes animate125 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.link-menu,
.link,
.bt-main,
.bt-email,
.pos-social,
.instagram-svg,
.instagram-svg1,
.twitter-svg,
.twitter-svg1,
.linkedin-svg,
.linkedin-svg1,
.unit-clients,
.svg-client1,
.svg-client2,
.svg-client3,
.svg-client4,
.svg-client5,
.svg-client6,
.bt-works,
.flex-element,
.bt-close,
.bt-modal,
.send {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope {
  height: 12px;
  width: 16px;
  margin-right: 10px;
  fill: #757575;
}

.smartphone {
  height: 16px;
  width: 10px;
  margin-right: 10px;
  fill: #757575;
}

.link:hover .envelope,
.link:focus .enevelope {
  fill: #2196f3;
}

.link:hover .smartphone,
.link:focus .smartphone {
  fill: #2196f3;
}

.bg-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .bg-svg {
    height: 120px;
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .bg-svg {
    height: 120px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .bg-svg {
    height: 120px;
    width: 270px;
  }
}

.des-svg {
  height: 70px;
  width: 70px;
}

@media screen and (min-width: 0px) and (max-width: 479px) {
  .des-svg {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.instagram-svg,
.twitter-svg,
.facebook-svg,
.linkedin-svg,
.instagram-svg1,
.twitter-svg1,
.facebook-svg1,
.linkedin-svg1 {
  height: 20px;
  width: 20px;
  margin: auto;
}

.instagram-svg1,
.twitter-svg1,
.facebook-svg1,
.linkedin-svg1 {
  fill: #ffffff;
}

.svg-client1 {
  margin: auto;
  height: 49px;
  width: 44px;
}

.svg-client2 {
  margin: auto;
  height: 52px;
  width: 40px;
}

.svg-client3 {
  margin: auto;
  height: 43px;
  width: 41px;
}

.svg-client4 {
  margin: auto;
  height: 42px;
  width: 80px;
}

.svg-client5 {
  margin: auto;
  height: 47px;
  width: 59px;
}

.svg-client6 {
  margin: auto;
  height: 45px;
  width: 88px;
}

.instagram-svg,
.twitter-svg,
.facebook-svg,
.linkedin-svg,
.svg-client1,
.svg-client2,
.svg-client3,
.svg-client4,
.svg-client5,
.svg-client6 {
  fill: #afb1b8;
}

.unit-clients:hover,
.unit-clients:focus {
  border: 1px solid #2196f3;
}

.unit-clients:hover .svg-client1,
.unit-clients:focus .svg-client1 {
  fill: #2196f3;
}

.unit-clients:hover .svg-client2,
.unit-clients:focus .svg-client2 {
  fill: #2196f3;
}

.unit-clients:hover .svg-client3,
.unit-clients:focus .svg-client3 {
  fill: #2196f3;
}

.unit-clients:hover .svg-client4,
.unit-clients:focus .svg-client4 {
  fill: #2196f3;
}

.unit-clients:hover .svg-client5,
.unit-clients:focus .svg-client5 {
  fill: #2196f3;
}

.unit-clients:hover .svg-client6,
.unit-clients:focus .svg-client6 {
  fill: #2196f3;
}

.pos-social:hover .instagram-svg,
.pos-social:focus .instagram-svg {
  fill: #ffffff;
}

.pos-social:hover,
.pos-social:focus {
  background-color: #2196f3;
}

.pos-social:hover .twitter-svg,
.pos-social:focus .twitter-svg {
  fill: #ffffff;
}

.pos-social:hover .facebook-svg,
.pos-social:focus .facebook-svg {
  fill: #ffffff;
}

.pos-social:hover .linkedin-svg,
.pos-social:focus .linkedin-svg {
  fill: #ffffff;
}

.social-group {
  display: flex;
  justify-content: space-between;
  height: 44px;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .social-group {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .social-group {
    margin-bottom: 30px;
  }
}

.pos-social {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.list-app {
  padding-left: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--smoke);
}

@media screen and (max-width: 479px) {
  .list-app {
    justify-content: center;
  }
}

.person-photo {
  background-color: #ffffff;
}

@media screen and (min-width: 480px) {
  .person-photo {
    height: 622px;
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .person-photo {
    height: 536px;
    width: 354px;
  }
  .person-photo:nth-child(2n) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .person-photo {
    height: 428px;
    width: 270px;
  }
  .person-photo:last-child {
    margin-right: 0px;
  }
}

.person-photo {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .person-photo:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .person-photo {
    margin-bottom: 0px;
  }
  .person-photo:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .person-photo {
    margin-bottom: 0px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: changeBgColor;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 581px;
  width: 528px;
  border-radius: 4px;
  background-color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover {
  fill: #2196f3;
}

.modal-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-top: auto;
  margin-bottom: 4px;
}

.modal-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  display: block;
  margin-top: 40px;
  color: #212121;
}

.form-input {
  margin-left: 40px;
  margin-right: 40px;
}

.input-name,
.input-tel,
.input-email,
.input-text {
  display: block;
  margin-bottom: 10px;
  width: 448px;
  height: 40px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comments {
  width: 448px;
  height: 120px;
  display: block;
  margin-bottom: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comments::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1428;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}

.pos-contact {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-left: 12px;
}

.contact-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: #757575;
}

.link-contract {
  display: inline-block;
  line-height: 0.8;
  margin-left: 4px;
  color: #2196f3;
  text-decoration: none;
  border-bottom: 1px solid #2196f3;
}

.icon-pos {
  position: relative;
}

.table-icon {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 11px;
  left: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name:focus,
.input-tel:focus,
.input-email:focus,
.comments:focus {
  border-radius: 4px;
  outline-color: #2196f3;
}

.input-name:focus + .table-icon,
.input-tel:focus + .table-icon,
.input-email:focus + .table-icon {
  fill: #2196f3;
}

.check-empty,
.check-full {
  height: 15px;
  width: 16px;
  position: absolute;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check:hover {
  cursor: pointer;
}

.check {
  position: relative;
  height: 15px;
  width: 16px;
}

.check:checked ~ .check-empty {
  opacity: 0;
}

.check:checked ~ .check-full {
  opacity: 1;
  pointer-events: none;
}

.check-empty {
  background-color: #ffffff;
  pointer-events: none;
}

.check-full {
  opacity: 0;
  pointer-events: none;
}

.contact-text {
  padding-left: 8px;
}

.link-menu {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  display: block;
  position: relative;
}

.link-menu:hover, .link-menu:focus {
  color: #2196f3;
}

.link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1429;
  letter-spacing: 0.03em;
  color: inherit;
  text-decoration: none;
  height: 16px;
  display: flex;
  align-items: center;
}

.link:hover, .link:focus {
  color: #2196f3;
}

.link-address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1429;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  height: 16px;
}

.link-address:hover, .link-address:focus {
  color: #2196f3;
}

.default-page {
  color: #2196f3;
}

.default-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1738;
  font-style: normal;
  color: #2196f3;
}

.part-logo1 {
  color: #212121;
}

.part-logo2 {
  color: #ffffff;
}

.link-logo {
  text-decoration: none;
}

.logo {
  display: block;
  text-align: center;
  margin: 0px;
}

@media screen and (min-width: 1200px) {
  .logo {
    text-align: left;
  }
}

.bg-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.head-main {
  height: auto;
  align-items: center;
}

.list-nav,
.up-contacts,
.menu-header,
.head-main {
  display: flex;
}

.list,
.list-menu,
.list-nav,
.list-app,
.table-app {
  list-style: none;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.bg-hero {
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto auto;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.jpg");
}

@media screen and (min-width: 480px) {
  .bg-hero {
    background-position: 0% 0%;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images-mobile/headerimg.jpg");
  }
}

@media screen and (min-width: 768px) {
  .bg-hero {
    background-position: 50% 40%;
    background-size: auto auto;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images-mobile/headerimg.jpg");
  }
}

.big-button {
  display: block;
  text-align: center;
}

@media screen and (min-width: 0px) and (max-width: 479px) {
  .big-button {
    padding-bottom: 20%;
  }
}

@media screen and (min-width: 480px) {
  .big-button {
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px) {
  .big-button {
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .big-button {
    padding-bottom: 200px;
  }
}

.pearl-wall {
  background-color: #ffffff;
}

@media screen and (min-width: 0px) and (max-width: 479px) {
  .pearl-wall {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 480px) {
  .pearl-wall {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .pearl-wall {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list-image {
  display: flex;
  justify-content: space-between;
}

.photo-book {
  height: 386px;
  width: 1200px;
  margin-bottom: 94px;
  background-color: #ffffff;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .photo-book {
    display: none;
  }
}

.label-img {
  display: flex;
  position: relative;
  z-index: 1;
  margin: 0;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 70px;
  width: 370px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(47, 48, 58, 0.8);
}

.bg-team {
  background-color: #f5f4fa;
}

.team {
  background-color: #f5f4fa;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.name-prof {
  text-align: center;
  margin-top: 10px;
}

.styles-name {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}

.our-clients {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .our-clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .our-clients {
    padding-top: 93px;
    padding-bottom: 93px;
  }
}

@media screen and (min-width: 0px) {
  .block-clients {
    display: block;
    width: calc(100% / 2-10px);
  }
}

@media screen and (min-width: 480px) {
  .block-clients {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .block-clients {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .block-clients {
    width: 1170px;
  }
}

.unit-clients {
  display: flex;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  height: 90px;
}

@media screen and (min-width: 0px) and (max-width: 479px) {
  .unit-clients {
    width: 100%;
    margin-bottom: 20px;
  }
  .unit-clients:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 480px) {
  .unit-clients {
    width: 210px;
    margin-bottom: 30px;
  }
  .unit-clients:nth-child(n + 5) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .unit-clients {
    width: 226px;
  }
  .unit-clients:nth-child(n + 4) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .unit-clients {
    width: 170px;
    margin-bottom: 0px;
  }
}

.bg-footer {
  background-color: #2f303a;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2f303a;
  text-align: center;
  position: relative;
}

@media screen and (min-width: 480px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    height: 463px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing {
    max-width: 1200px;
    height: 86px;
    width: 570px;
  }
}

@media screen and (min-width: 768px) {
  .our-address {
    left: 76px;
    position: absolute;
  }
}

@media screen and (min-width: 1200px) {
  .our-address {
    position: absolute;
    top: 60px;
    left: 15px;
  }
}

.list {
  width: 232px;
  display: inline-block;
  padding: 0px;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .list {
    width: 232px;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .list {
    width: 231px;
    text-align: left;
  }
}

.cl-link {
  display: inline-block;
  margin-top: 10px;
}

.portfolio-button {
  background-color: #ffffff;
}

.table-app {
  background-color: #ffffff;
}

.our-contacts .little-name {
  color: #ffffff;
  margin-bottom: 20px;
}

.call-us .pos-social {
  background-color: rgba(255, 255, 255, 0.1);
}

.call-us .pos-social:hover, .call-us .pos-social:focus {
  background-color: #2196f3;
}

.call-us {
  width: 206px;
  display: inline-flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .our-contacts {
    position: absolute;
    right: 0;
    margin-top: 5px;
    margin-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .our-contacts {
    position: absolute;
    left: 316px;
    top: 72px;
    height: 80px;
    width: 206px;
    margin: 0px;
    padding: 0px;
  }
}

.flex-element {
  border-bottom: 1px solid #eeeeee;
}

.flex-element:hover,
.flex-element:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.555;
  letter-spacing: 0.03em;
  text-align: left;
  background: rgba(33, 150, 243, 0.9);
  align-items: center;
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product:hover .overlay {
  opacity: 1;
  transform: translateY(-100%);
}

.mailing .little-name {
  color: #ffffff;
  margin-bottom: 20px;
}

.input-mailing {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: inherit;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.3636;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.input-mailing::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.input-mailing:focus::placeholder,
.comments:focus::placeholder {
  color: transparent;
}

.pos-mailing {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pos-mailing {
    position: absolute;
    bottom: 130px;
    left: 166px;
  }
}

@media screen and (min-width: 1200px) {
  .pos-mailing {
    height: 86px;
    width: 358px;
    text-align: left;
    margin-left: 299px;
    margin-top: 12px;
  }
}

.send {
  fill: #ffffff;
  height: 24px;
  width: 24px;
  fill: #ffffff;
  margin-left: 10px;
  display: inline-block;
}

.mailing {
  display: inline-block;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .mailing {
    margin-top: 60px;
  }
}

.input-mailing {
  height: 50px;
  width: 450px;
  padding-left: 16px;
}

@media screen and (max-width: 479px) {
  .input-mailing {
    width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .input-mailing {
    width: 358px;
  }
}
/*# sourceMappingURL=main.css.map */