.logo {
  font-family: "Raleway", sans-serif;
  @include fonts-logo(26px, 700, 1.1738);
  font-style: normal;
  color: $accent-cl;
  @media screen and (max-width: 767px) {
    font-size: 24px;

    font-weight: 700;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-align: left;
  }
}

.part-logo1 {
  color: $title-cl;
}
.part-logo2 {
  color: $white;
}
.link-logo {
  text-decoration: none;
}
// .logo,
// .link-logo,
// .part-logo1 {
// }
.logo {
  display: block;
  text-align: center;
  margin: 0px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.head-main .logo {
  @media screen and (max-width: 767px) {
    display: inline-block;

    line-height: 60px;
  }
  @media screen and (min-width: 768px) {
    // text-align: left;
    // display: inline-flex;
    position: absolute;
  }
}
