.social-group {
  display: flex;
  justify-content: space-between;
  height: 44px;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
  }
}
.pos-social {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}
.list-app {
  padding-left: 0px;
  margin: 0px;
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--smoke);
  @media screen and (max-width: 479px) {
    justify-content: center;

    align-items: center;
  }
}
.person-photo {
  background-color: $white;

  @media screen and (min-width: 480px) {
    height: 622px;
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    height: 536px;
    width: 354px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    height: 428px;
    width: 270px;
    &:last-child {
      margin-right: 0px;
    }
  }
}
