.social-group {
  display: flex;
  justify-content: space-between;
  margin-right: 35px;
  margin-left: 35px;
  padding-bottom: 30px;
}
.pos-social {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}
