.mailing .little-name {
  color: $white;
  margin-bottom: 20px;
}
.input-mailing {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: inherit;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.3636;
  letter-spacing: 0.06em;
  color: $white;

  &::placeholder {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.input-mailing:focus::placeholder,
.comments:focus::placeholder {
  color: transparent;
}

.pos-mailing {
  display: block;
  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 130px;
    left: 166px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 72px;
    right: 0px;
  }
}

.send {
  fill: $white;
  height: 24px;
  width: 24px;
  fill: #ffffff;
  margin-left: 10px;
  display: inline-block;
}
.mailing {
  display: inline-block;
  text-align: center;
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
  }
}
.input-mailing {
  height: 50px;
  width: 450px;
  @media screen and (max-width: 479px) {
    width: 200px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
