html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  @include fonts(15px, 1.7142, 0.03em);
  color: $main-text-cl;
}

.title {
  font-family: "Roboto", sans-serif;
  @include fonts-title(44px, 900, 1.6154, 0.06em);
  text-align: center;
  width: 696px;
  padding-top: 200px;
  padding-bottom: 30px;
  margin-top: 0px;

  margin-left: auto;
  margin-right: auto;
  color: $white;

  text-transform: uppercase;
  @media screen and (min-width: 0px) and (max-width: 385px) {
    @include fonts-title(22px, 900, 1.6154, 0.06em);
    width: 310px;
    padding-top: calc(26.2%);
    padding-bottom: calc(6.7%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 385px) and (max-width: 480px) {
    @include fonts-title(26px, 900, 1.6154, 0.06em);
    width: 360px;
    padding-top: calc(26.2%);
    padding-bottom: calc(6.7%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    @include fonts-title(26px, 900, 1.6154, 0.06em);
    width: 360px;
    padding-top: 118px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    @include fonts-title(44px, 900, 1.3636, 0.06em);

    width: 696px;
    padding-top: 200px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.little-name,
.label {
  font-family: "Roboto", sans-serif;
  @include fonts-little(14px, 700, 1.1721, 0.03em);
  font-style: normal;
}
.little-name {
  text-transform: uppercase;

  color: $title-cl;
}
.label {
  text-transform: uppercase;
  color: $white;
}
.sub-title {
  font-family: "Roboto", sans-serif;
  @include fonts-sub-title(36px, 700, 1.1719, 0.03em);

  color: $title-cl;
}

.styles-name {
  font-family: "Roboto", sans-serif;
  @include fonts-styles-name(16px, 500, 1.19, 0.03em);
  color: $title-cl;
}

.invisible {
  display: none;
}

.name-prof {
  font-family: "Roboto", sans-serif;
  @include fonts-name-prof(16px, 400, 1.19, 0.03em);
  color: $main-text-cl;
}

.address {
  font-family: "Roboto", sans-serif;
  @include fonts-address(14px, 400, 1.71, 0.03em);
}
.cl-link {
  color: #ffffff99;
}

.project-name {
  font-family: "Roboto", sans-serif;
  @include fonts-project-name(18px, 700, 2, 0.06em);
  color: $title-cl;
}

.app-name {
  font-family: "Roboto", sans-serif;
  @include fonts-app-name(16px, 400, 1.87, 0.03em);

  color: $main-text-cl;
}

.list {
}
.list-app {
  background-color: $white;

  background-color: $smoke;
}

.link:not(:last-child) {
}
.link-menu {
}

.up-contacts {
}

.break {
}

.description-unit {
}
.description-job {
}
.description-unit + .description-unit {
}
.desc-name {
}

.sub-title {
}

.list-image {
}

.person-photo {
  background-color: $white;
}

.styles-name {
}
.name-prof {
}

.our-address {
}
.cl-link {
}
.table-color {
  color: $white;
}
.list-menu {
}

.project-name {
  border-left: 1px solid#eeeeee;
  border-right: 1px solid #eeeeee;
}
.app-name {
  border-left: 1px solid#eeeeee;
  border-right: 1px solid #eeeeee;
}
