html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  @include fonts(15px, 1.7142, 0.03em);
  color: $main-text-cl;
}

.title {
  font-family: "Roboto", sans-serif;
  @include fonts-title(44px, 900, 1.6154, 0.06em);
  text-align: center;
  width: 696px;
  padding-top: 200px;
  padding-bottom: 30px;
  margin-top: 0px;

  margin-left: auto;
  margin-right: auto;
  color: $white;

  text-transform: uppercase;
  @media screen and (min-width: 0px) and (max-width: 479px) {
    @include fonts-title(26px, 700, 1.6154, 0.06em);
    width: auto;
    padding-top: 20px;
    margin: 0px;
  }
  @media screen and (min-width: 480px) {
    @include fonts-title(26px, 900, 1.6154, 0.06em);
    width: 360px;
    padding-top: 118px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 768px) {
    @include fonts-title(26px, 900, 1.6154, 0.06em);
    width: 360px;
    padding-top: 118px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1200px) {
    @include fonts-title(44px, 900, 1.3636, 0.06em);

    width: 696px;
    padding-top: 200px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
}

.little-name,
.label {
  font-family: "Roboto", sans-serif;
  @include fonts-little(14px, 700, 1.1721, 0.03em);
  font-style: normal;
}
.little-name {
  text-transform: uppercase;
  color: $title-cl;
  margin: 0px;
}
.label {
  text-transform: uppercase;
  color: $white;
}
.sub-title {
  font-family: "Roboto", sans-serif;
  @include fonts-sub-title(36px, 700, 1.1719, 0.03em);

  color: $title-cl;
}

.styles-name {
  font-family: "Roboto", sans-serif;
  @include fonts-styles-name(16px, 500, 1.19, 0.03em);
  color: $title-cl;
}

.invisible {
  display: none;
}

.name-prof {
  font-family: "Roboto", sans-serif;
  @include fonts-name-prof(16px, 400, 1.19, 0.03em);
  color: $main-text-cl;
}

.address,
.desc-name {
  font-family: "Roboto", sans-serif;
  @include fonts-address(14px, 400, 1.71, 0.03em);
}
.cl-link {
  color: #ffffff99;
}

.project-name {
  font-family: "Roboto", sans-serif;
  @include fonts-project-name(18px, 700, 2, 0.06em);
  color: $title-cl;
}

.app-name {
  font-family: "Roboto", sans-serif;
  @include fonts-app-name(16px, 400, 1.87, 0.03em);

  color: $main-text-cl;
}

.des-svg,
.bg-svg,
.little-name {
  display: block;
}
.description-job {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 507px;
    width: 738px;

    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    height: 251px;
    width: 1170px;
    display: flex;
  }
}
.description-unit {
  @media screen and (min-width: 480px) {
    height: 226px;
    width: 450px;
    margin-bottom: 30px;
    &:nth-child(4) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 251px;
    width: 354px;
    margin-bottom: 0px;
    display: inline-block;
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
    &:nth-child(2n) {
      margin-left: 25px;
    }
  }

  @media screen and (min-width: 1200px) {
    height: 251px;
    width: 270px;
    display: inline-block;
    margin-right: 30px;

    &:nth-child(n + 4) {
      margin-right: 0px;
    }
  }
}

.desc-name {
  display: block;
  padding-top: 10px;
  margin: 0;
  @media screen and (max-width: 479px) {
  }
  @media screen and (min-width: 480px) {
    height: 50px;
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    height: 75px;
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    height: 75px;
    width: 270px;
  }
}
.sub-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0px;
    margin-bottom: 50px;
  }
}
.person-photo {
  background-color: $white;
  @media screen and (min-width: 480px) {
    height: 622px;
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    height: 536px;
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    height: 428px;
    width: 270px;
  }
}

.table-color {
  color: $white;
}

.project-name {
  border-left: 1px solid#eeeeee;
  border-right: 1px solid #eeeeee;
}
.app-name {
  border-left: 1px solid#eeeeee;
  border-right: 1px solid #eeeeee;
}
