$main-text-cl: #757575;
$accent-cl: #2196f3;
$title-cl: #212121;
$white: #ffffff;
$gray: #2f303a;
$pearl: #e5e5e5;
$smoke: #f5f4fa;
$svg-smoke: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$time-transition: 250ms;
