.bg-header {
  background-color: $white;
  border-bottom: 1px solid #ececec;
}
.head-main {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.up-contacts {
  @media screen and (min-width: 0px) and (max-width: 767px) {
    display: inline-block;
    width: 200px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-top: 21px;
    align-items: start;
  }
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    margin-top: 32px;
  }
}
.link + .link {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 32px;
  }
}
