.bg-hero {
  background-color: $gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/img.jpg");

  @media screen and (min-width: 480px) {
    background-position: 0% 0%;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images-mobile/headerimg.jpg");
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images-mobile/headerimg.jpg");
  }
}
.big-button {
  display: block;
  text-align: center;

  @media screen and (min-width: 0px) and (max-width: 479px) {
    padding-bottom: 20%;
  }

  @media screen and (min-width: 480px) {
    padding-bottom: 118px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 118px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 200px;
  }
}
.pearl-wall {
  background-color: $white;

  @media screen and (min-width: 0px) and (max-width: 479px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
// .list-image {

// }
.photo-book {
  height: 386px;
  width: 1170px;

  background-color: $white;
  @media screen and (min-width: 0px) and (max-width: 1199px) {
    display: none;
  }
}
.label-img {
  position: relative;
  z-index: 1;
}
.label {
  align-items: center;

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(47, 48, 58, 0.8);
}
