.bg-hero {
  background-color: $gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/img.jpg");

  @media screen and (min-width: 0px) and (max-width: 480px) {
    background-size: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images-mobile/headerimg.jpg");
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images-mobile/headerimg.jpg");
  }
}
.big-button {
  display: block;
  text-align: center;
  align-content: center;
  padding-bottom: 200px;
  @media screen and (min-width: 0px) and (max-width: 480px) {
    padding-bottom: calc(24.5%);
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    padding-bottom: calc(15.4%);
  }
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    padding-bottom: calc(16.7%);
  }
}
.pearl-wall {
  background-color: $white;
}
.photo-book {
  padding-bottom: 94px;
  background-color: $white;
}
.label-img {
  position: relative;
  z-index: 1;
}
.label {
  align-items: center;

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(47, 48, 58, 0.8);
}
