.list,
.list-menu,
.list-nav,
.list-app,
.table-app {
  list-style: none;
}
.list-menu {
  padding: 0px;
  margin-top: 60px;
  margin-bottom: 0px;

  display: inline-flex;
  flex-wrap: wrap;

  @media screen and (min-width: 0px) and (max-width: 479px) {
    width: 100%;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 362px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 612px;

    margin-bottom: 30px;
    margin-left: 64px;
  }
  @media screen and (min-width: 1200px) {
    width: 612px;
    margin-bottom: 30px;
    margin-left: 280px;
  }
}
.list-nav {
  padding-left: 0px;
  display: inline-block;
  text-align: center;
  @media screen and (max-width: 767px) {
  }

  @media screen and (min-width: 768px) {
    padding-left: 0px;
    // display: inline-flex;
    // flex-direction: row;
    width: 294px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }
  // @media screen and (min-width: 1200px) {
  //   & + & {
  //     margin-left: 50px;
  //   }
}

.link-menu {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
    @include fonts-little(18px, 500, 1.1716, 0.02em);
  }
  @media screen and (min-width: 1200px) {
    @include fonts-little(14px, 500, 1.1716, 0.02em);
  }
}
.menu-header {
  @media screen and (min-width: 768px) {
    // position: relative;
    margin-right: 84px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 0px;
  }
}
