.bg-team {
  background-color: $smoke;
}
.team {
  background-color: $smoke;
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.name-prof {
  text-align: center;
  margin-top: 10px;
}
.styles-name {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}
