.bg-team {
  background-color: $smoke;
}
.team {
  background-color: $smoke;
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    width: $desktop;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
